CRUDclient/xml-resources/web-service-references/Crud/wsdl/localhost_8080/Crud/Crud.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CRUDproject/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CRUDproject/" name="Crud">
<types>
<xsd:schema>
<xsd:import namespace="http://CRUDproject/" schemaLocation="http://localhost:8080/Crud/Crud?xsd=1"/>
</xsd:schema>
</types>
<message name="insertData">
<part name="parameters" element="tns:insertData"/>
</message>
<message name="insertDataResponse">
<part name="parameters" element="tns:insertDataResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="deleteData">
<part name="parameters" element="tns:deleteData"/>
</message>
<message name="deleteDataResponse">
<part name="parameters" element="tns:deleteDataResponse"/>
</message>
<message name="updateData">
<part name="parameters" element="tns:updateData"/>
</message>
<message name="updateDataResponse">
<part name="parameters" element="tns:updateDataResponse"/>
</message>
<message name="readData">
<part name="parameters" element="tns:readData"/>
</message>
<message name="readDataResponse">
<part name="parameters" element="tns:readDataResponse"/>
</message>
<portType name="Crud">
<operation name="insertData">
<input wsam:Action="http://CRUDproject/Crud/insertDataRequest" message="tns:insertData"/>
<output wsam:Action="http://CRUDproject/Crud/insertDataResponse" message="tns:insertDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://CRUDproject/Crud/insertData/Fault/Exception"/>
</operation>
<operation name="deleteData">
<input wsam:Action="http://CRUDproject/Crud/deleteDataRequest" message="tns:deleteData"/>
<output wsam:Action="http://CRUDproject/Crud/deleteDataResponse" message="tns:deleteDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://CRUDproject/Crud/deleteData/Fault/Exception"/>
</operation>
<operation name="updateData">
<input wsam:Action="http://CRUDproject/Crud/updateDataRequest" message="tns:updateData"/>
<output wsam:Action="http://CRUDproject/Crud/updateDataResponse" message="tns:updateDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://CRUDproject/Crud/updateData/Fault/Exception"/>
</operation>
<operation name="readData">
<input wsam:Action="http://CRUDproject/Crud/readDataRequest" message="tns:readData"/>
<output wsam:Action="http://CRUDproject/Crud/readDataResponse" message="tns:readDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://CRUDproject/Crud/readData/Fault/Exception"/>
</operation>
</portType>
<binding name="CrudPortBinding" type="tns:Crud">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="readData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Crud">
<port name="CrudPort" binding="tns:CrudPortBinding">
<soap:address location="http://localhost:8080/Crud/Crud"/>
</port>
</service>
</definitions>