CRUDclient/src/META-INF/wsdl/localhost_8080/Crud/Crud.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://CRUDproject/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CRUDproject/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="deleteData" type="tns:deleteData"/>

<xs:element name="deleteDataResponse" type="tns:deleteDataResponse"/>

<xs:element name="insertData" type="tns:insertData"/>

<xs:element name="insertDataResponse" type="tns:insertDataResponse"/>

<xs:element name="readData" type="tns:readData"/>

<xs:element name="readDataResponse" type="tns:readDataResponse"/>

<xs:element name="updateData" type="tns:updateData"/>

<xs:element name="updateDataResponse" type="tns:updateDataResponse"/>

<xs:complexType name="insertData">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateData">
<xs:sequence>
<xs:element name="old_id" type="xs:int"/>
<xs:element name="new_id" type="xs:int"/>
<xs:element name="new_username" type="xs:string" minOccurs="0"/>
<xs:element name="new_password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteData">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readData">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readDataResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>